<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <link name='imu_link'>
        <visual name='visual'>
            <origin xyz="0 0 0.0" rpy="0 0 0" />
            <geometry>
                <box size="0.05 0.1 0.05" />
            </geometry>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.1 0.1 0.1" />
            </geometry>
        </collision>

        <inertial>
            <mass value="0.1" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
        </inertial>
    </link>

    <joint name="imu_joint" type="fixed">
        <parent link="base_link" />
        <child link="imu_link" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <axis xyz="0 0 1" />
    </joint>


    <gazebo reference="imu_link">
        <sensor name="via_imu" type="imu">
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <visualize>true</visualize>
            <imu>
            <!-- Currently, noise on orientation is not supported. If you need this feature, consider adding it to gazebo. -->
              <orientation>
                <x>
                  <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>2e-3</stddev>
                  </noise>
                </x>
                <y>
                  <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>2e-3</stddev>
                  </noise>
                </y>
                <z>
                  <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>2e-3</stddev>
                  </noise>
                </z>
              </orientation>
              <angular_velocity>
                <x>
                  <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>2e-4</stddev>
                  </noise>
                </x>
                <y>
                  <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>2e-4</stddev>
                  </noise>
                </y>
                <z>
                  <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>2e-4</stddev>
                  </noise>
                </z>
              </angular_velocity>
              <linear_acceleration>
                <x>
                  <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>1.7e-2</stddev>
                  </noise>
                </x>
                <y>
                  <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>1.7e-2</stddev>
                  </noise>
                </y>
                <z>
                  <noise type="gaussian">
                    <mean>0.0</mean>
                    <stddev>1.7e-2</stddev>
                  </noise>
                </z>
              </linear_acceleration>
            </imu>
            <plugin name="imu_plugin" filename="libgazebo_ros_imu_sensor.so">
              <initial_orientation_as_reference>false</initial_orientation_as_reference>
              <frame_name>imu_link</frame_name>
              <ros>
                <namespace>/imu</namespace>
                <!-- <argument>~/out:=data</argument> -->
                <remapping>~/out:=data</remapping>
              </ros>
            </plugin>
          </sensor>
    </gazebo>

</robot>